body {
    background-color: #3E88A5;
}

img {
    width: 320px;
    height: 144px
}

div {
    margin: 5px 5px 5px 5px;
}

.header {
    background-color: #2D5F6E;
}

.padding {

}

#deskripsi {
    background-color: #93C4D1;
}

#video {
    background-color: #18363E;
}

#audio {
    background-color: #18363E ;
}