body {
    background-color: #3E88A5;
}

#smenda{
    width: 320px;
    height: 144px
}

.main {
    border: 2px solid red;
    width: 900px;
    margin: auto;
    
}

.header {
    border: 2px solid black;
    background-color: #2D5F6E;
    background-image: radial-gradient(circle at 50% -20.71%, #d1fff8 0, #befff6 10%, #a7fff4 20%, #8dfff3 30%, #6cfbf2 40%, #3cf2f2 50%, #00e8f3 60%, #00dff5 70%, #00d6f9 80%, #00cefd 90%, #00c6ff 100%);
    color: #18363E;

}

.padding {
    margin-left: 5px;
    margin-top: 10px;
    margin-right: 5px;
    padding: 15px 10px 15px 10px;
}

#deskripsi {
    border: 2px solid black;
    background-color: #93C4D1;
    margin: 20px 25px 0px 25px;
    padding : 20px;
}

#video {
    width: auto;
    border: 2px solid white;
    background-color: #18363E;
    margin: 20px 60px 0px 60px;
    padding: auto;
    text-align: center;
    position: static;
    top: 200px;
    
}

#audio {
    border: 2px solid white;
    background-color: #18363E ;
    margin : 20px 20px 0px 20px;
    text-align: center;
    
}

#artikel {
    border: 2px solid black;
    margin-left: 10px;
    margin-right: 10px;
    padding : 20px 50px 20px 50px;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    column-gap: 20px;
    
    
}

.card:target {
    background-color: red;
}


.card {
    color: white;
    width:25%;
    border: 2px solid blue;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
    
}

#logohtml {
    width: 60px;
}

#logocss {
    width: 60px;
}

.display {
    border: 2px solid green;
    display : inline;
    padding :20px;
    margin-left: -5px;
}

li:hover {
    background-color: blue;
    color: white;
}

p::first-letter {
    //first-line : untuk satu kata
    font-size: xx-large;
}


